body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.remote-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 90px;
    height: auto;
}

.big-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    position: relative;
    margin: 0 auto;
}

.arrow-button {
    background: none;
    border: none;
    font-size: 24px;
    position: absolute;
    cursor: pointer;
    outline: none;
    transition: color 0.3s;
}

.arrow-button:active {
    color: #888;
}

.arrow-button.up {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-button.down {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-button.left {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-button.right {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-icon {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

.arrow-icon.up {
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #333 transparent;
}

.arrow-icon.up:active 
{
    background-color: rgb(58, 58, 58);

}

.arrow-icon.down {
    border-width: 15px 10px 0 10px;
    border-color: #333 transparent transparent transparent;
}

.arrow-icon.down:active 
{
    background-color: rgb(58, 58, 58);

}

.arrow-icon.left {
    border-width: 10px 15px 10px 0;
    border-color: transparent #333 transparent transparent;
}

.arrow-icon.left:active 
{
    background-color: rgb(58, 58, 58);

}

.arrow-icon.right {
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #333;
}

.arrow-icon.right:active 
{
    background-color: rgb(58, 58, 58);

}

.center-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e0e0e0;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    outline: none;
}

.center-button:active {
    background-color: #d0d0d0;
}


.additional-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.additional-button {
    background-color: #c0c0c0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.additional-button:active {
    background-color: #b0b0b0;
}

.label_AV {
    position: absolute;
    bottom: 25px;
    left: 285px;
    font-size: 14px;
    font-weight: bold;
}

.label_LV {
    position: absolute;
    bottom: 25px;
    left: 45px;
    font-size: 14px;
    font-weight: bold;
}
.status-container {
    position: absolute;
    top: 200px;
    right: 20px;
    text-align: right;
    width: 150px;
}

.status-container .battery, .status-container .distance {
    font-size: 14px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.status-container .battery .battery-icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.Linear_velocity {
    width: 100px; /* Fixed width of the slider */
    height: 30px; /* Fixed height of the slider */
    appearance: none; /* Remove default styling */
    background-color: #a5a5a5; /* Set background color of track */
    border-radius: 5px; /* Set border radius to make it round */
    position: absolute; /* Position the slider absolutely */
    top: 83%; /* Adjust the top position */
    left: 0%; /* Adjust the left position */
    transform: rotate(270deg); /* Rotate the slider vertically */
    margin-top: -25px; /* Adjust margin to center the slider */
}

/* Style the thumb */
.Linear_velocity::-webkit-slider-thumb {
    position: relative; /* Position the slider absolutely */
    appearance: none; /* Remove default styling */
    width: 20px; /* Fixed width of thumb */
    height: 40px; /* Fixed height of thumb */
    background-color: rgb(0, 0, 0); /* Set background color of thumb */
    border-radius: 10%; /* Make thumb round */
    cursor: pointer; /* Add cursor pointer */
}

.Linear_velocity::-webkit-slider-thumb:active 
{
    background-color: rgb(73, 73, 73);

}

.Angular_velocity {
    width: 100px; /* Fixed width of the slider */
    height: 30px; /* Fixed height of the slider */
    appearance: none; /* Remove default styling */
    background-color: #a5a5a5; /* Set background color of track */
    border-radius: 5px; /* Set border radius to make it round */
    position: absolute; /* Position the slider absolutely */
    top: 83%; /* Adjust the top position */
    left: 72%; /* Adjust the left position */
    transform: rotate(270deg); /* Rotate the slider vertically */
    margin-top: -25px; /* Adjust margin to center the slider */
}

/* Style the thumb */
.Angular_velocity::-webkit-slider-thumb {
    position: relative; /* Position the slider absolutely */
    appearance: none; /* Remove default styling */
    width: 20px; /* Fixed width of thumb */
    height: 40px; /* Fixed height of thumb */
    background-color: rgb(0, 0, 0); /* Set background color of thumb */
    border-radius: 10%; /* Make thumb round */
    cursor: pointer; /* Add cursor pointer */
}

.Angular_velocity::-webkit-slider-thumb:active 
{
    background-color: rgb(73, 73, 73);

}

.battery
{
    position: absolute;
    top:8%; /* Adjust as needed */
    left: 70%; /* Adjust as needed */
    font-family: Arial, sans-serif;
    color:rgb(0, 0, 0);
    font-size:1vp;
}

#linear_velocity_header
{
  position: absolute;
  top:65%; /* Adjust as needed */
  left: 12%; /* Adjust as needed */
  font-family: Arial, sans-serif;
  color:rgb(0, 0, 0);
  font-size:1vp;
}

#angular_velocity_header
{
  position: absolute;
  top:65%; /* Adjust as needed */
  left: 85%; /* Adjust as needed */
  font-family: Arial, sans-serif;
  color:rgb(0, 0, 0);
  font-size:1vp;
}

.main_container 
{
    top : 5%; /* Adjust as needed */
    left: 0%; /* Adjust as needed */
    position: relative;
    width: 80%;
    height: 25%;
    margin: auto;
    padding: 20px;
    border: 2px solid #111010;
    border-radius: 4%; /* Makes the borders rounded */

}
#imageCanvas 
{
    position: absolute;
    top: 0%; /* Adjust as needed */
    left: 0%; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    border-radius: 3%; /* Makes the borders rounded */
}

#battery_inside_header
{
    position: absolute;
    top:6%; /* Adjust as needed */
    left: 77%; /* Adjust as needed */
    font-family: Arial, sans-serif;
    color:rgb(12, 12, 12);
    font-size:1vp;
}

#battery_percentage
{
    position: absolute;
    top:6%; /* Adjust as needed */
    left: 85%; /* Adjust as needed */
    font-family: Arial, sans-serif;
    color:rgb(12, 12, 12);
    font-size:1vp;
}